.site-header.epicrideweather {
  background-color: #FF5722;
}
.site-header h1 {
  margin-bottom: 0px;
}

.site-title, .site-title:visited {
  font-weight: 400;
  color: white;
}

.brand-banner {
  width: 100%;
  background-color: #FF5722;
  background-image: url("/images/epicrideweather/banner-bg.png");
  background-size: 100% 100%;
}

.slogan {
  margin-bottom: 30px;
  font-size: 18px;
}
.top-buffer {
  margin-top: 30px;
}
.bottom-buffer {
  margin-bottom: 30px;
}
.bottom-buffer-sm {
  margin-bottom: 20px;
}

.attribution {
  font-size: smaller;
  color: #828282;
}

ul.front-page-links {
  list-style: none;
  font-size: 14px;
  margin-left: 0px;
}
.front-page-links li {
  margin-top: 10px;
}
