---
layout: blog
permalink: /blog/
---
{% for post in site.posts limit:1 %}
{% if post.feature_image %}
<div class="feature-image">
  <img class="feature-image img-rounded" src="{{ post.feature_image }}"/>
</div>
{% endif %}
<header class="post-header">
  <h1 class="post-title" itemprop="name headline"><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}{% if post.original_url %} • originally published at <a href="{{ post.original_url }}">{{ post.original_url | remove_first:'http://'| remove_first:'https://' | split:'/' | first | remove_first:'www.' }}</a>{% endif %}</p>
</header>
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
{{ post.content }}
</article>

<p>
<a href="https://twitter.com/intent/tweet?url={{ site.url | url_encode }}{{ post.url | url_encode }}&text={{ post.title | url_encode }}&via={{ site.twitter_username }}"
   target="_blank">
  <i class="fa fa-twitter"></i> share on twitter</a></a>
</p>

{% endfor %}

<h3 id="recent-posts">Recent Posts</h3>
{% include recent_posts.html %}
